/WatchModule/.vs/WatchModule/v15/.suo
/WatchModule/.vs/WatchModule/v15/Server/sqlite3/db.lock
/WatchModule/.vs/WatchModule/v15/Server/sqlite3/storage.ide
/WatchModule/.vs/WatchModule/v16/.suo
bin/
obj/
/WatchModule/WatchModule.csproj.user
/WatchModule/WatchModule.v12.suo
